.create-post-form {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid black;
  border-radius: 20px;
  padding: 1rem;
  gap: 0.5rem;

  & input::placeholder,
  & textarea::placeholder {
    font-style: italic;
  }
}
.create-post-header {
  text-align: center;
  border-bottom: 1px solid black;
  padding: 0.5rem;
}
.form-image-container {
  display: flex;
  //   justify-content: center;
  align-items: center;
}

.invalid-image {
  color: red;
}
.valid-image {
  color: #0f5132;
}
.create-form-image {
  height: 50px;
  /* padding: 1rem; */
  margin: 1rem;
  width: 50px;
}

.create-form-tags {
  display: flex;
  align-items: center;
  // justify-content: center;
  justify-content: space-between;
  &__input {
    margin-right: 0.5rem;
  }
  &__button {
    height: 35px;
    width: 115px;
    padding: 0;
    margin: 0;
  }
}
.tags-control {
  display: flex;
  flex-direction: column;
  width: 65%;
}
.form-tags {
  display: flex;
  gap: 0.35rem;
  flex-wrap: wrap;
  &__tag {
    list-style: none;
    padding: 0.25rem 1.25rem 0.15rem 1.25rem;
    background-color: #4a3f3f;
    color: white;
    border-radius: 10px;
  }
}
.create-form-buttons {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  &__back {
    border: none;
    background: none;
    color: black;
    &:hover {
      background: none;
      color: black;
    }
  }
  &__submit {
    background-color: #0ae276;
    color: white;
    border-radius: 25px;
    border: none;
  }
}

.create-post-label {
  margin-bottom: 0rem;
}
