button {
  font-family: "open sans";
}

p {
  font-family: "roboto";
}
.alert {
  font-family: "roboto";
}
.post-date {
  font-family: "sofia sans", Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
}
