@use "./partials/typography";
@use "./partials/editPost";
@use "./partials/loading";

@use "./partials/custom";
@use "./partials/landing";
@use "./partials/login";

@use "./partials/alert";
@use "./partials/home";
@use "./partials/card";
@use "./partials/nav";
@use "./partials/profile";
@use "./partials/pageNotFound";
@use "./partials/createPost";
@use "./partials/feedback";

* {
  box-sizing: border-box;
}
#root {
  background-color: #eaedf6;
  min-height: 100vh;
}

img {
  width: 100%;
  /* max-height: 350px;
    height: 100%; */
}

.post {
  margin: 1rem;
  border: 1px solid grey;
  border-radius: 10px;
}

p {
  margin: 0;
}
.main-container {
  // padding: 1rem;
}
